body {
    margin: none;
    padding: none;
    display: flex;
    flex-direction: column;
    background-color: #5A8FD5;
}


.container {
    height: 100vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
}


#dom-results {
    height: 200px;
}

.combat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 200px;
}

#versus-img {
    border-style: solid;
    border-radius: 50%;
    border-color: red;
    border-width: 1.5px;
}

.button-container {
    margin: auto;
    width: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    border: none;
    font-size: 64px;
    min-width: 0;
    height: 150px;
    width: 200px;
}

button#rock {
    background-color: rgb(255, 60, 0);
}

button#paper {
    background-color: aquamarine;
}

button#scissors {
    background-color: rgb(0, 89, 255);
}

